/* Banner Start */
.banner{
    position: relative;
    overflow: hidden;
}
.banner img{
    width: 100%;
}
.banner .banner-text{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
}
.banner .banner-text h1{
    color: #fff;
    font-size: calc(3rem + 1vw);
    font-family: 'Helvetica', sans-serif;
    margin-left: 4rem;
}

/* For 110% in 15 inch screens */
@media screen and (min-width: 1260px) and (max-width: 1399px){
    .banner .banner-text h1{
        margin-left: 7.5rem;
    }
}

/* For 100% in 15 inch screens */
@media screen and (min-width: 1400px) {
    .banner .banner-text h1{
        font-size: calc(3.5rem + 1vw);
        margin-left: 6rem;
    }
}
/* For small screens */
@media screen and (max-width: 768px) {
    .banner .banner-text h1{
        font-size: calc(1.6rem + 1vw);
        margin-left: 1rem;
    }
}
/* Banner End */

/* Certification Head Start */
.certification-head{
    padding: 3rem 0;
}
.certification-head h2{
    font-size: calc(1.2rem + 1vw);
    font-family: 'Helvetica', sans-serif;
    margin-bottom: 1.2rem;
}
.certification-head p{
    font-family: 'Arial', sans-serif;
    font-size: calc(0.6rem + 0.5vw);
}


/* For 100% in 15 inch screens */
@media screen and (min-width: 1400px) {
    .certification-head h2{
        font-size: calc(1.27rem + 1vw);
    }
    .certification-head p{
        font-size: calc(0.68rem + 0.5vw);
    }
}

/* For small screens */
@media screen and (max-width: 768px) {
    .certification-head{
        padding: 1.5rem 1rem;
    }
    .certification-head h2{
        font-size: calc(1.1rem + 1vw);
        margin-bottom: 0.6rem;
    }
    .certification-head p{
        font-size: calc(0.75rem + 0.5vw);
        margin-bottom: 0.6rem;
    }
}
/* Certification Head End */

/* Certification Cards Start */
.certification-card-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2%;
}
.certification-card-row .certification-card{
    width: 18%;
    margin-bottom: 2.8rem;
    display: flex;
    justify-content: center;
    transition: all 0.2s ease-in-out;
}
.certification-card-row .certification-card:hover{
    scale: 1.1;
}
.certification-card-row .certification-card img{
    width: 85%;
    cursor: pointer;
}

/* For small screens */
@media screen and (max-width: 768px) {
    .certification-card-row{
        gap: 5%;
    }
    .certification-card-row .certification-card{
        width: 47%;
        margin-bottom: 2.8rem;
    }
}
/* Certification Cards End */

/* Certification Modal Start */
#certificationModal .modal-body img {
    width: 100%;
    height: auto;
}
#certificationModal .modal-header .btn-close:focus {
    box-shadow: none;
    outline: none;
}
/* Certification Modal End */

/* Certification Body Text Start */
.certification-body-top{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}
.certification-body-top .left{
    width: 21%;
}
.certification-body-top .left img{
    width: 100%;
    margin-top: 0.3rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}
.certification-body-top .right{
    width: 76%;
}
.certification-body-text p{
    margin: 0;
    margin-bottom: 1rem;
    font-family: 'Arial', sans-serif;
    font-size: calc(0.6rem + 0.5vw);
}

/* For 100% in 15 inch screens */
@media screen and (min-width: 1400px) {
    .certification-body-top .left img{
        margin-bottom: 1.5rem;
    }
    .certification-body-text p{
        font-size: calc(0.7rem + 0.5vw);
    }
}

/* For small screens */
@media screen and (max-width: 768px) {
    .certification-body-top{
        flex-direction: column;
        margin-top: 0.5rem;
    }
    .certification-body-top .left{
        width: 100%;
    }
    .certification-body-top .left img{
        width: 100%;
        margin-top: 0;
    }
    .certification-body-top .right{
        width: 100%;
    }
    .certification-body-text p{
        margin-bottom: 0.6rem;
        font-size: calc(0.7rem + 0.5vw);
    }
}
/* Certification Body Text End */

/* Footer Start */
footer{
    margin-top: 10rem;
}
/* For 100% in 15 inch screens */
@media screen and (min-width: 1400px) {
    footer{
        margin-top: 13rem;
    }
}
/* Footer End */