* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: unset !important; /* Disable default smooth scrolling in Bootstrap */
}

/* Fonts */
@font-face {
    font-family: 'Arial';
    src: url('../fonts/Arial/Arial.ttf') format('truetype'),
        url('../fonts/Arial/Web Fonts/8d223b3ad8d4819e9dcf22757e4cc2c4.woff2') format('woff2'),
        url('../fonts/Arial/Web Fonts/8d223b3ad8d4819e9dcf22757e4cc2c4.woff') format('woff'),
        url('../fonts/Arial/Web Fonts/8d223b3ad8d4819e9dcf22757e4cc2c4.ttf') format('truetype'),
        url('../fonts/Arial/Web Fonts/8d223b3ad8d4819e9dcf22757e4cc2c4.eot') format('embedded-opentype'),
        url('../fonts/Arial/Web Fonts/8d223b3ad8d4819e9dcf22757e4cc2c4.svg') format('svg');
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica/Helvetica.ttf') format('truetype');
}

@font-face {
    font-family: 'Proxima N W01 Reg';
    src: url('../fonts/Proxima N W01 Reg/Proxima N W01 Reg.ttf') format('truetype');
}


/* Navbar Start */
.navbar-brand img {
    width: 220px;
}
.nav-link {
    margin: 0.5rem 0.5rem 0 0.5rem;
    padding-top: 0.8rem;
    font-size: calc(0.7rem + 0.2vw);
    text-transform: uppercase;
    font-family: 'Proxima N W01 Reg', sans-serif;
    font-weight: 650;
    color: #000;
    position: relative;
}
.nav-link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #4b4b4b;
    transition: all 0.1s ease;
}
.nav-link:hover::before,
.nav-link.active::before {
    height: 3px;
    background: #e91f29;
}
.nav-link:hover,
.nav-link.active {
    color: #e91f29 !important;
}
nav .dropdown-menu {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
nav .dropdown-menu li a {
    font-weight: 600;
    font-size: calc(0.6rem + 0.2vw);
    text-transform: uppercase;
    font-family: 'Proxima N W01 Reg', sans-serif;
}
nav .dropdown-menu li a:hover{
    background-color: #fff;
    color: #e91f29;
}
.navbar-toggler{
    border: none;
}
.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none;
    box-shadow: none;
}
/* Dropdown menu hover effect for screens wider than 768px */
@media (min-width: 768px) {
    .nav-item.dropdown:hover .dropdown-menu {
        display: block;
        opacity: 1;
        visibility: visible;
    }
    nav .dropdown-menu {
        display: none;
        opacity: 0;
        visibility: hidden;
    }
}
@media (max-width: 768px) {
    .navbar-brand img {
        width: 170px;
    }
    .nav-link {
        margin: 0.2rem 0 0.2rem 0.5rem;
        padding-top: 0.3rem;
        font-size: calc(0.8rem + 0.2vw);
    }
    .nav-link::before {
        display: none;
    }
    nav .dropdown-menu li a {
        font-size: calc(0.69rem + 0.2vw);
    }
}

/* For 110% in 15 inch screens */
@media screen and (min-width: 1260px) and (max-width: 1399px){
    .nav-link {
        padding: 0.8rem;
        font-size: calc(0.75rem + 0.2vw);
    }
    nav .dropdown-menu li a {
        font-size: calc(0.62rem + 0.2vw);
    }
    .navbar-brand img {
        margin-left: -1.5rem;
    }
}

/* For 100% in 15 inch screens */
@media screen and (min-width: 1400px) {
    nav{
        padding: 1rem 0 !important;
    }
    .navbar-brand img {
        width: 225px;
    }
    .nav-link {
        margin: 0.5rem 0.6rem 0 0.6rem;
        padding: 0.9rem;
        font-size: calc(0.85rem + 0.2vw);
    }
    nav .dropdown-menu li a {
        font-size: calc(0.7rem + 0.2vw);
    }
}
/* Navbar End */

/* Banner Slider Start */
.banner-slider{
    overflow: hidden;
}
/* Swiper Navigation Buttons */
/* .banner-slider .swiper-button-next,
.banner-slider .swiper-button-prev {
    color: #fff;
}

.banner-slider .swiper-button-next{
    right: 40px;
}
.banner-slider .swiper-button-prev{
    left: 40px;
}

.banner-slider .swiper-button-next::after,
.banner-slider .swiper-button-prev::after {
    font-size: 35px;
} */
/* Banner Slider End */

/* What We Do Start */
.what-we-do{
    overflow: hidden;
    padding: 2.5rem 0;
}
.what-we-do .what-we-do-head h1{
    text-align: center;
    font-family: 'Helvetica', sans-serif;
    font-size: calc(1.5rem + 1vw);
    margin-bottom: 1.4rem;
}
.what-we-do .what-we-do-head p{
    font-size: calc(0.25rem + 1vw);
    font-family: 'Arial', sans-serif;
}
.what-we-do-card-row{
    margin-top: 3.5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.what-we-do-card{
    width: 23%;
}
.what-we-do-card .card-img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    height: 130px;
}
.what-we-do-card .card-img img {
    width: 100px;
}
.what-we-do-card .card-title h2{ 
    font-family: 'Proxima N W01 Reg', sans-serif;
    font-weight: 700;
    font-size: calc(0.8rem + 0.5vw);
    color: #4b4b4b;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 15px;
    text-decoration-color: #f15960;
    text-decoration-thickness: 2px;
}
.what-we-do-card .card-desc p{ 
    font-family: 'Arial', sans-serif;
    font-size: calc(0.45rem + 0.5vw);
    text-align: center;
    margin-top: 2rem;
}
/* What We Do End */

/* Vision Mission Start */
.vision-mission{
    margin-top: 1rem;
    overflow: hidden;
}
.vision-mission-box{
    display: flex;
}
.vision-mission-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 3rem;
}
.vision-mission-text h1{
    font-family: 'Helvetica', sans-serif;
    font-size: calc(1.4rem + 1vw);
    text-decoration: underline;
    text-underline-offset: 15px;
    text-decoration-color: #f15960;
    text-decoration-thickness: 2px;
}
.vision-mission-text p{
    font-family: 'Arial', sans-serif;
    font-size: calc(0.7rem + 0.5vw);
    margin-top: 1.7rem;
    line-height: 2;
}
#vision-mission-text-3 h1{
    margin-bottom: 2.7rem;
}
#vision-mission-text-3 p{
    margin-top: 0;
    line-height: 1.3;
}
.vision-mission-image{
    width: 50%;
}
.vision-mission-image img{
    width: 100%;
}

/* For 110% in 15 inch screens */
@media screen and (min-width: 1260px) and (max-width: 1399px){
    .vision-mission-text{
        padding: 0 6rem;
    }
}

/* For 100% in 15 inch screens */
@media screen and (min-width: 1400px) {
    .vision-mission-text{
        padding: 0 5.5rem;
    }
}
/* Vision Mission End */

/* Our Products Start */
.our-products{
    padding: 2.5rem 0;
}
.our-products h1{
    text-align: center;
    font-family: 'Helvetica', sans-serif;
    font-size: calc(1.5rem + 1vw);
    margin-bottom: 1.4rem;
}
.our-products .products-card-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2.2rem;
}
.our-products .products-card-row .product-card{
    width: 23%;
    overflow: hidden;
    margin-bottom: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
}
.our-products .products-card-row .product-card img{
    width: 100%;
}
/* Our Products End */